body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:947px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:262px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.309803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:28px;
  width:617px;
  height:262px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:28px;
  width:85px;
  height:22px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:37px;
  width:117px;
  height:27px;
  font-size:28px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:260px;
  width:131px;
  height:30px;
  font-size:18px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:127px;
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:93px;
  width:206px;
  height:77px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:202px;
  word-wrap:break-word;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:262px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.309803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:321px;
  width:617px;
  height:262px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:321px;
  width:85px;
  height:22px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:330px;
  width:117px;
  height:27px;
  font-size:28px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:553px;
  width:131px;
  height:30px;
  font-size:18px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:127px;
  word-wrap:break-word;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:386px;
  width:206px;
  height:77px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:202px;
  word-wrap:break-word;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:238px;
  width:271px;
  height:131px;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:267px;
  word-wrap:break-word;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:386px;
  width:164px;
  height:23px;
  font-size:20px;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u318_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:386px;
  width:164px;
  height:23px;
  font-size:20px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u319_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:441px;
  width:209px;
  height:23px;
  font-size:20px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u320_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:441px;
  width:164px;
  height:23px;
  font-size:20px;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u321_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:120px;
  width:164px;
  height:23px;
  font-size:20px;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u322_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:120px;
  width:164px;
  height:23px;
  font-size:20px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u323_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:175px;
  width:209px;
  height:23px;
  font-size:20px;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u324_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:175px;
  width:164px;
  height:23px;
  font-size:20px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u325_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:293px;
  width:111px;
  height:18px;
  color:#FF0000;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:272px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:50px;
  width:1px;
  height:271px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:185px;
  width:102px;
  height:18px;
  color:#FF0000;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
